<?xml version="1.0" encoding="UTF-8"?>
<java version="1.8.0_222" class="java.beans.XMLDecoder">
 <object class="java.util.HashSet">
  <void method="add">
   <object class="langtonsant.Settings">
    <void property="ID">
     <int>402</int>
    </void>
    <void property="antmargin">
     <int>2</int>
    </void>
    <void property="scale">
     <int>4</int>
    </void>
   </object>
  </void>
  <void method="add">
   <object class="langtonsant.Settings">
    <void property="ID">
     <int>101</int>
    </void>
    <void property="antmargin">
     <int>1</int>
    </void>
    <void property="scale">
     <int>1</int>
    </void>
   </object>
  </void>
 </object>
 <object class="java.util.TreeSet">
  <void method="add">
   <string>RL</string>
  </void>
  <void method="add">
   <string>RRLL</string>
  </void>
 </object>
</java>
